body{
  margin: 5em;
}

.ligne1 {
  border: 0.1px solid black;
}

a{
  text-decoration: none;
  font-weight : bold
}

.ligne2 { 
  width: 1000px;
  border: 3px solid black;
  
}

ul{  
  padding: 0;
}

aside >img {
  width: 450px;
  height: 250px;

}

section h3{
  background-color: #a7d4a4
  
}

li{
  margin-right: 2em;
  margin-top: 1em;
  list-style-type: none;
 
}

main{
  padding-top: 2em;
  
}

article{
  margin-right: 20%;
}

article > p{
  color: #659462;
  text-align: justify;
}

footer{
  padding-top: 1em;
}

footer > p{
  margin: 0;
}

footer strong{
  color: #659462;
}
.ligne3 {
  border : 2px solid black;
}

h1>span{
  display: block;
  color : grey;
  font-style: italic;
}

